<head>
  <meta charset="UTF-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <title>Apoco Links</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  <header class="bg-[#f7f8fa]">
    <nav class="w-full flex justify-between items-center px-4 py-3 h-20">
      <div class="w-[40%]">
        <h1 class="font-bold text-2xl pl-2">WareHouse</h1>
      </div>
      <div class="flex w-[60%] justify-around items-center">
        <ul class="w-[70%] flex gap-20 font-semibold justify-center">
          <li>Home</li>
          <li>About</li>
          <li>Contact</li>
        </ul>
        <button
          class="bg-blue-500 text-white rounded-md font-semibold px-4 py-2"
        ><a class="hover:no-underline text-white" href="/signin">
            Sign In
          </a></button>
      </div>
    </nav>
  </header>

  <section class="bg-[#f7f8fa]">
    <article class="w-ful text-center py-4">
      <h1 class="text-3xl font-extrabold my-2">Search engine optimisation &
        Marketing.</h1>
      <p class="text-xl mb-4">Simple is a simple template with a creative design
        that solves all your marketing and SEO queries.</p>
      <div class="flex gap-4 justify-center">
        <button class="px-4 py-2 rounded-md bg-[#fc7341] text-white">Sign In</button>
        <button class="px-4 py-2 rounded-md bg-[#46b895] text-white">Learn More</button>
      </div>
    </article>
    <figure class="flex justify-center">
      <img
        src="https://demo.bootstrapdash.com/simple/images/Group171.svg"
        alt="banner"
      />
    </figure>
  </section>

  <section class="p-4">
    <article class="flex flex-col items-center">
      <h1 class="font-sans font-extrabold text-3xl my-2">How does it works</h1>
      <p class="font-sans text-xl">
        One theme that serves as an easy-to-use operational toolkit that meets
        customer's needs.
      </p>
    </article>
    <article class="flex justify-between gap-48 p-10">
      <div class="flex flex-col content-start">
        <img
          class="w-[30%]"
          src="https://demo.bootstrapdash.com/simple/images/Group12.svg"
          alt="logo12"
        />
        <h2 class="text-lg font-bold py-1">Speed Optimisation</h2>
        <p class="text-gary-600 py-2">Lorem ipsum dolor sit amet, tincidunt
          vestibulum. Fusce egeabus consectetuer turpis, suspendisse.</p>
        <button class="text-gray-500 w-[0]">Readmore</button>
      </div>
      <div class="flex flex-col content-start">
        <img
          class="w-[30%]"
          src="https://demo.bootstrapdash.com/simple/images/Group7.svg"
          alt="logo12"
        />
        <h2 class="text-lg font-bold py-1">Speed Optimisation</h2>
        <p class="text-gary-600 py-2">Lorem ipsum dolor sit amet, tincidunt
          vestibulum. Fusce egeabus consectetuer turpis, suspendisse.</p>
        <button class="text-gray-500 w-[0]">Readmore</button>
      </div>
      <div class="flex flex-col content-start">
        <img
          class="w-[30%]"
          src="https://demo.bootstrapdash.com/simple/images/Group5.svg"
          alt="logo12"
        />
        <h2 class="text-lg font-bold py-1">Speed Optimisation</h2>
        <p class="text-gary-600 py-2">Lorem ipsum dolor sit amet, tincidunt
          vestibulum. Fusce egeabus consectetuer turpis, suspendisse.</p>
        <button class="text-gray-500 w-[0]">Readmore</button>
      </div>
    </article>
  </section>

  <section class="flex flex-col">
    <article class="flex justify-around items-center py-4">
      <div class="w-[40%]">
        <h2 class="font-sans font-extrabold text-3xl">We Offer a Full Range of
          Digital Marketing Services!</h2>
        <p class="font-sans font-xl text-gray-500 py-4">Lorem ipsum dolor sit
          amet, tincidunt vestibulum. Fusce egeabus consectetuer turpis,
          suspendisse.</p>
        <p class="font-sans font-xl text-gray-500 py-4">Lorem ipsum dolor sit
          amet, tincidunt vestibulum. Fusce egeabus consectetuer</p>
      </div>
      <figure>
        <img
          src="https://demo.bootstrapdash.com/simple/images/Group1.png"
          alt="img"
        />
      </figure>
    </article>
    <article class="flex flex-row-reverse justify-around items-center py-4">
      <div class="w-[40%]">
        <h2 class="font-sans font-extrabold text-3xl">We Offer a Full Range of
          Digital Marketing Services!</h2>
        <p class="font-sans font-xl text-gray-500 py-4">Lorem ipsum dolor sit
          amet, tincidunt vestibulum. Fusce egeabus consectetuer turpis,
          suspendisse.</p>
        <p class="font-sans font-xl text-gray-500 py-4">Lorem ipsum dolor sit
          amet, tincidunt vestibulum. Fusce egeabus consectetuer</p>
        <button
          class="bg-blue-500 text-white rounded-md font-semibold px-4 py-2"
        >Readmore</button>
      </div>
      <figure>
        <img
          src="https://demo.bootstrapdash.com/simple/images/Group2.png"
          alt="img"
        />
      </figure>
    </article>
  </section>

  <section class="mt-10">
    <article class="flex flex-col items-center">
      <h1 class="font-sans font-extrabold text-3xl my-2">Our case studies</h1>
      <p class="font-sans text-xl">
        Lorem ipsum dolor sit amet, tincidunt vestibulum.
      </p>
    </article>
    <section class="flex justify-evenly mt-10">
      <article>
        <figure class="bg-gray-800 p-8">
          <img
            src="https://demo.bootstrapdash.com/simple/images/Group95.svg"
            alt="img"
          />
        </figure>
        <div class="text-center pt-1">
          <h2 class="font-sans font-bold text-xl">Online Marketing</h2>
          <p class="text-lg text-gray-500">Seo, Marketing</p>
        </div>
      </article>

      <article>
        <figure class="bg-purple-300 p-8">
          <img
            src="https://demo.bootstrapdash.com/simple/images/Group108.svg"
            alt="img"
          />
        </figure>
        <div class="text-center pt-1">
          <h2 class="font-sans font-bold text-xl">Online Marketing</h2>
          <p class="text-lg text-gray-500">Seo, Marketing</p>
        </div>
      </article>

      <article>
        <figure class="bg-orange-400 p-8">
          <img
            src="https://demo.bootstrapdash.com/simple/images/Group126.svg"
            alt="img"
          />
        </figure>
        <div class="text-center pt-1">
          <h2 class="font-sans font-bold text-xl">Online Marketing</h2>
          <p class="text-lg text-gray-500">Seo, Marketing</p>
        </div>
      </article>

      <article>
        <figure class="bg-teal-400 p-8">
          <img
            src="https://demo.bootstrapdash.com/simple/images/Group115.svg"
            alt="img"
          />
        </figure>
        <div class="text-center pt-1">
          <h2 class="font-sans font-bold text-xl">Online Marketing</h2>
          <p class="text-lg text-gray-500">Seo, Marketing</p>
        </div>
      </article>
    </section>
  </section>

</body>
<footer class="w-full h-[350px] bg-gray-50">

</footer>