<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Importa los archivos de Tailwind CSS -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/tailwindcss@2.2.17/dist/tailwind.min.css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Apoco Links</title>
  </head>
  <body>
    <div>
      <div class="flex items-center place-content-around gap-4 h-[100vh] relative">
        <div class="z-10">
          <img src="/img/logo.png" alt="Logo" class="h-96 w-96 mb-4" />
        </div>
        <div class="flex flex-col items-center">
          <div class="basis-1">
            <p class="text-3xl ">Store your links in a better way</p>
          </div>
          <div class="basis-1">
            <form action="/signin" method="get">
              <button class="mt-4 rounded-full bg-[#7f8cff] px-6 py-3 text-lg text-white shadow-lg">
                Let's get started
              </button>
            </form>
          </div>
        </div>
        <div
          class="absolute h-[100vh] w-[100vh] -translate-x-1/2 rounded-r-full bg-[#5ee6a8]"
        />
      </div>
    </div>

  </body>
</html>