<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-body">
                    <h3>Welcome {{user.fullname}}</h3>
                    <h4>{{user.username}}</h4>
                    <a href="/links" class="btn btn-primary m-4">
                        Save your Links    
                    </a>
                    <a href="/links/export" method="GET" class="btn btn-primary m-4">
                        Export your Links
                    </a>
                    <div class="card card-body text-center">
                        <p>Import your links</p>
                        <form action="/links/import" method="POST" enctype="multipart/form-data">
                            <div class="form-group"><input type="file" name="mylinks"/></div>
                            <div class="form-group">
                                <button class="btn btn-primary btn-block" type="submit">
                                    Import
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>