{{#if message}}
  <div
    id="myAlert"
    class="w-3/4 lg:w-1/4 fixed bottom-0 left-1/2 transform -translate-x-1/2 p-4 mb-4 text-red-800 rounded-lg bg-red-50 dark:text-red-400"
    role="alert"
  >
  <div class="flex justify-center">
    <div class="ms-3 text-sm font-medium">
      {{message}}
    </div>
  </div>
  </div>
{{/if}}

{{#if success}}
  <div
    id="myAlert"
    class="w-3/4 lg:w-1/4 fixed bottom-0 left-1/2 transform -translate-x-1/2 p-4 mb-4 text-green-800 rounded-lg bg-green-50 dark:text-green-400"
    role="alert"
  >
  <div class="flex justify-center">
    <div class="ms-3 text-sm font-medium">
      {{success}}
    </div>
  </div>
  </div>
{{/if}}

<script>
  // Desaparece la alerta después de 3 segundos (3000 milisegundos)
  window.addEventListener('load', () => {
    setTimeout(function() { document.getElementById('myAlert').style.display = 'none'; }, 3000);
  })
</script>