{{#if message}}
<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="alert alert-danger alert-dismissible fade show" role="alert" id="myAlert">
                {{message}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
</div>
{{/if}}

{{#if success}}
<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="alert alert-success alert-dismissible fade show" role="alert" id="myAlert">
                {{success}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
</div>
{{/if}}

<script>
  // Desaparece la alerta después de 3 segundos (3000 milisegundos)
    /*setTimeout(function() {
      document.getElementById('myAlert').style.display = 'none';
    }, 3000);*/
</script>