<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto"> <!-- para centrar la tarjta -->
            <div class="card">
                <div class="card-body">
                    <form action="/links/add" method="POST" class="needs-validation" novalidate>
                        <div class="form-group">
                            <input type="text" name="title" class="form-control" placeholder="Title" autofocus required>
                            <div class="valid-feedback">
                                 Looks good!
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="url" name="url" class="form-control" placeholder="URL" required>
                            <div class="valid-feedback">
                                 Looks good!
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea name="description" rows="2" class="form-control" placeholder="Description"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="category">Category:</label>
                            <select name="category" class="form-control" required>
                                <option value="" selected disabled>Choose a category</option>
                                <option value="favorite">My Favorite</option>
                                <option value="watch-later">Watch Later</option>
                                <option value="projects">Projects</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <button class="btn btn-success btn-block" type="submit">
                                Save
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
(function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()
</script>