<div>
  <section class="bg-white rounded-md p-3 flex flex-row">
    <input
      type="text"
      placeholder="Serach link..."
      class="bg-[#ebf2fa] w-full p-2 border-none rounded-md mr-2"
    />
    <button
      class="bg-[#9a99ff] text-white rounded-md font-semibold px-4 py-2 w-44"
    >Serach</button>
  </section>

  <section class="flex flex-row-reverse gap-2 my-3">
    <button
      class="bg-[#9a99ff] text-white rounded-md font-semibold px-4 py-2"
    >Card</button>
    <button
      class="bg-[#c7c8e7] text-white rounded-md font-semibold px-4 py-2"
    >List</button>
  </section>
</div>

{{#if links.length}}
  <!-- Verifica si hay enlaces -->
  {{#each links}}
    <section>
      <div class="max-w-sm rounded overflow-hidden shadow-lg bg-white">
        <iframe src={{url}} class="w-full h-64" frameborder="0">
        </iframe>
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2">{{title}}</div>
          <p class="text-gray-700 text-base">
            {{description}}
          </p>
        </div>
        <div class="px-6 pt-4 pb-2">
          <span
            class="inline-block bg-[#9a99ff] rounded-full px-3 py-1 text-sm font-semibold text-gray-100 mr-2 mb-2"
          >{{category}}</span>
        </div>
      </div>
    </section>
  {{/each}}
{{/if}}