<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ApocaLinks</title>

    {{!-- GOOGLE FONTS --}}
  <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
  {{!-- BOOTSTRAP 4 --}}
  {{!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> --}}
  {{!-- FONT AWESOME 5 --}}
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
    crossorigin="anonymous">
  {{!-- STYLES --}}
  <script src="https://cdn.tailwindcss.com"></script>
  {{!-- <link rel="stylesheet" href="/css/styles.css"> --}}
  <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
 <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>

</head>
<body>
  <section class="flex flex-row h-[96.3vh] bg-[#ebf2fa]">
  {{#if excludeNavigation}}
    <div class="w-full p-8 flex flex-col">
      {{>message}}
      {{{ body }}}
    </div>
      {{else}}
    <div class="bg-white w-[20%] p-4">
      <section>
        <figure>
          <img
            src="/img/logo.png"
            alt="Logo"
          />
        </figure>
      </section>
      <section>
        <nav class="flex flex-col items-center gap-4">
          <ul class="flex flex-col gap-4">
            <li class="cursor-pointer"><a class="text-xl hover:no-underline hover:text-[#9a99ff] hover:transition-all transition-all " href="/profile">Home</a></li>
            <li class="cursor-pointer"><a class="text-xl hover:no-underline hover:text-[#9a99ff] hover:transition-all transition-all " href="/links">Links</a></li>
            <li class="cursor-pointer"><a class="text-xl hover:no-underline hover:text-[#9a99ff] hover:transition-all transition-all " href="/logout">Log Out</a></li>
          </ul>
        </nav>
      </section>
    </div>
    <div class="w-[80%] p-8 flex flex-col">
      {{>message}}
      {{{ body }}}
    </div>  

  {{/if}}


    </section>
</body>

 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</html>